li {
  font-size: 2em;
  font-style: bold;
}

#intro {
  margin: 5% 10%;
  border: 8px solid black;
  border-radius: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#link_row_1 {
  display: flex;
  justify-content: center;
}

#link_row_1 a {
  width: 45%;
}

#link_row_2 {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
}

#link_row_2 a {
  width: 40%;
}

#splash {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  background: linear-gradient(white, red);
  background-repeat: no-repeat;
}

#splash h1 {
  font-size: 6em;
  text-align: center;
}

#splash ul {
  padding: 10%;
}
