section > h1 {
    font-size: 3em;
    width: 100%;
    text-decoration: underline;
    margin-top: 100px;
    padding-left: 5%;
  }


#edit_bill_form {
  text-align: center;
  width: 80vw;
  padding-bottom: 5%;
}

#edit_bill_form h2 {
  font-size: 3em;
  text-decoration: underline;
}

#edit_bill_form input {
  font-size: 3em;
  border: 4px solid black;
  padding: 16px;
  border-radius: 25px;
  width: 30vw;
}


#edit_bill_form select {
  font-size: 3em;
  border: 4px solid black;
  padding: 16px;
  border-radius: 25px;
  width: 30vw;
}

option {
  font-size: large;
}

#new_bill_btn {
  background: black;
  width: 80vw;
  padding: 0px;
  border: 8px solid black;
  border-radius: 25px;
  margin-top: 5%;
}

#new_bill_btn h2 {
  background: black;
  padding: 16px;
  color: white;
  border-radius: 25px;
  margin: 0px;
  font-size: 3em;
}

#save_changes_btn {
  background: black;
  width: 80vw;
  padding: 16px;
  border: 8px solid black;
  border-radius: 25px;
  margin-top: 5%;
  color: white;
  font-size: 5em;
}

.dropdown {
  background: black;
  width: 80vw;
  padding: 0px;
  border: 8px solid black;
  border-radius: 25px;
}

.dropdown h2 {
  background: black;
  padding: 16px;
  color: white;
  border-radius: 25px;
  margin: 0px;
  font-size: 3em;
}

.contents {
  background: white;
  border-radius: 25px;
  margin-left: 2%;
  margin-right: 2%;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.dropdown .contents.active {
  max-height: 50vh;
  transition: max-height 0.5s ease-out;
}

.contents h3 {
  font-size: 3em;
  text-decoration: underline;
}

.contents p {
  font-size: 3em;
}

.contents button {
  width: 40%;
  margin: 5%;
  margin-top: 10%;
  font-size: 2em;
  font-weight: bold;
  padding: 5%;
  background-color: black;
  color: white;
  border-radius: 25px;
}

