
:root {
  --main-bg-color: rgb(35, 199, 240);
  --btn-primary-bg-color: black;
  --btn-primary-color: white;
  --btn-danger-bg-color: red;
}


#alert_container {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.199);
}

#alert_container.active {
  display: flex;
}

#back_button {
  display: none;
  position: fixed;
  bottom: 2%;
  right: 2%;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.301);
  border: none;
  color: white;
  padding: 5% 10%;
  border-radius: 25px;
}

html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  background: var(--main-bg-color);
}

.bubble {
  border: 8px solid black;
  background: white;
  border-radius: 20px;
  margin: 5% 5%;
}

.bubble h1 {
  padding: 16px;
  background: black;
  color: white;
  margin: 0;
}

.bubble p {
  padding: 5%;
}


#confirmation_alert {
  font-size: 1rem;
}

#confirmation_alert button {
  font-size: 1rem;
  border: none;
  background-color: white;
  padding: 0 5%;
  margin: 5%;
  border-radius: 25px;
}

#confirmation_alert button:hover {
  background-color: black;
  color: white;
}

#confirmation_alert p {
  font-size: 1rem;
  text-align: center;
}

#confirmation_alert div {
  display: flex;
  justify-content: space-around;
}

.close {
  text-align: right;
  position: fixed;
  top: 80vh;
  width: 80%;
}

.close a {
  font-size: 1rem;
  font-weight: bold;
  border: 24px solid rgba(128, 128, 128, 0.562);
  border-radius: 100%;
  text-decoration: none;
  color: rgba(128, 128, 128, 0.562);
  padding: 8px 16px;
}



header {
  z-index: 1;
}

hr {
  width: 80%;
}

.link_button {
  background: black;
  border-radius: 8px;
  font-size: 1rem;
  color: white;
  padding: 16px;
  text-decoration: none;
  text-align: center;
  margin: 5%;
}

nav {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  background: black;
  width: 100vw;
  height: 15vh;
}

nav button {
  width: 20vw;
  height: 20vw;
  margin: 2vw;
  border-radius: 20%;
  background: none;
  border: 8px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

nav button hr {
  border: none;
  height: 8px;
  width: 80%;
  background-color: white;
}

nav img {
  width: 20vw;
  height: 20vw;
  margin: 2vw;
}

nav a {
  display: block;
  flex: 1;
  font-size: 2rem;
  color: white;
  text-align: center;
  text-decoration: underline;
}

nav span {
  color: var(--main-bg-color);
  text-decoration: none;
}

nav ul {
  position: absolute;
  overflow: hidden;
  top: 16vh;
  max-height: 0;
  background: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: -1;
  transition: 0.5s;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  margin: 0;
  padding: 16px 10vw;
  font-size: 1rem;
  color: black;
  text-decoration: none;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

section {
  min-height: 120vh;
  overflow: hidden;
  position: absolute;
  background: linear-gradient(white 50%, var(--main-bg-color));
  transition-duration: 0.2s;
  border: 4px solid black;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

section > h1 {
  font-size: 2rem;
  width: 100%;
  text-decoration: underline;
  padding-left: 5%;
}

section p {
  font-size: 1rem;
}

#toast {
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
  z-index: 1;
  font-size: 1rem;
  max-height: 0;
  overflow: hidden;
  transition-duration: .2s;
}

#toast.active {
  max-height: 20vh;
  transition-duration: .2s;
}