#calendar_container {
  width: 80%;
}

#calendar_container h1 {
  font-size: 1rem;
}

#calendar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
}

p.calendar_day {
  padding: 20%;
  font-size: 1rem;
  margin: 0;
  width: 5vw;
  text-align: center;
  border-radius: 50px;
}

.due {
  border: 1px solid black;
}

.paid {
  border: 1px solid black;
  background-color: black;
  color: white;
}

.pastDue {
  background-color: red;
  color: white;
}

.confirm_paid_btn {
  background-color: black;
  border-radius: 25px;
  padding: 0 5%;
  color: white;
  font-size: 2em;
  height: 5%;
  
}


#dashboard {
  background: linear-gradient(white 50%, var(--main-bg-color));
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

#dashboard a[href="#bills"] {
  background: black;
}

#dashboard > h1 {
  font-size: 2rem;
  width: 80%;
  text-decoration: underline;
}

.dueBill {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 2%;
  align-items: center;
}

.dueBill p {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

#next_due {
  margin-top: 5%;
  width: 80%;
}

#next_due h1 {
  font-size: 1rem;
}

#next_due p {
  padding: 0;
}

#shortcut_links {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

#shortcut_links a {
  display: flex;
  flex-direction: column;
  background: black;
  width: 20vw;
  height: 20vw;
  color: white;
  font-size: .9rem;
  text-decoration: none;
  justify-content: flex-end;
  align-items: center;
  border-radius: 20px;
  font-weight: bold;
  padding: 2%;
}

#shortcut_links img {
  width: 60%;
  height: 60%;
  margin: 10%;
 }

.tooltip {
  padding: 2%;
  position: relative;
  
}

.tooltip_text {
  display: none;
  position: absolute;
  font-size: 1rem;
  background-color: white;
  border: 8px solid black;
  padding: 5%;
  border-radius: 25px;
  z-index: 1;
  width: max-content;
}

.tooltip_text p {
  width: max-content;
  padding: 0 5vw;
}

.calendar_day.paid:hover + .tooltip_text {
  display: block;
}

.calendar_day.due:hover + .tooltip_text {
  display: block;
}

.calendar_day.pastDue:hover + .tooltip_text {
  display: block;
}