#features h1 {
  margin: 0;
  background: black;
  color: white;
  padding: 16px;
}

#features ul {
  font-size: 1em;
}

#features li {
  font-size: 1em;
  font-weight: bold;
  margin: 5%;
}

#features_info {
  margin-top: 20vh;
}