#payment_form {
    text-align: center;
    width: 80vw;
    padding-bottom: 5%;
  }
  
  #payment_form h2 {
    font-size: 1rem;
    text-decoration: underline;
  }

  #payment_form .row div {
      width: 50%;
      display: flex;
      flex-direction: column;
  }

  #payment_form input[type='submit'] {
      padding: 5%;
      color: white;
      background-color: black;
      font-weight: bold;
      border-radius: 25px;
      margin-top: 10%;
  }

  #payment_form input[type='radio'] {
      width: 32px;
      height: 32px;
      margin: 10%;
  }

  #payment_form input {
      font-size: 1rem;
      width: 60%;
      margin: 10%;
      padding: 5%;
      border: 8px solid black;
      border-radius: 25px;
  }

  #payment_form label {
    font-size: 1rem;
    text-align: left;
    margin-left: 5%;
  }

  #due_payments_container {
    width: 80%;
  }

  #prev_payments_container {
    width: 80%;
  }


  .remove_paid_btn {
    background-color: red;
    border-radius: 25px;
    padding: 0 5%;
    color: white;
    font-size: 2rem;
    height: 5%;
    
  }

  .prevBill {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding: 2%;
    align-items: center;
  }
  
  .prevBill p {
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }