#signup_container {
  flex: 1;
  background: linear-gradient(white 50%, var(--main-bg-color));
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  margin: 10%;
}

h1 {
  font-size: 2rem;
}

label {
  margin-top: 5%;
  font-weight: bold;
  font-size: 1em;
}

label[for="terms"] {
  font-size: 1em;
}

input {
  font-size: 1em;
  border: 2px solid black;
  border-radius: 20px;
  padding: 8px;
}

input[type="checkbox"] {
  width: 1em;
  height: 1em;
}

input[type="submit"] {
  margin: 10%;
  height: 10%;
  background: black;
  color: white;
  font-size: 2em;
}

input:focus {
  border: 8px solid black;
}


