#signup_container {
  flex: 1;
  background: linear-gradient(white 50%, red);
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

h1 {
  font-size: 5em;
}

label {
  font-weight: bold;
  font-size: 4em;
}

input {
  margin-bottom: 32px;
  font-size: 3em;
}
