
#column_container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.col_group {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: flex-end;
}

#graph {
 position: relative;
 width: 100%;
 height: 20vh;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}



#graph_container > div {
    display: flex;
    height: 100%;
    padding: 5%;
}

#graph_east {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 5%;
}

#graph_container {
    width: 80vw;
}

#graph_container hr {
    width: 100%;
    margin: 0;
}

.graph_col_primary {
    height: 50%;
    width: 20%;
    background-color: black;
}

.graph_col_secondary {
    height: 30%;
    width: 20%;
    background-color: red;
}

#graph_x {
    display: flex;
    justify-content: space-around;
}

#graph_x p {
    margin: 0;
    padding: 0;
}

#graph_y {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2%;
}

#graph_y p {
    padding: 0;
    margin: 0;
}

#totals_container h2 {
    font-size: 3rem;
}