#app {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

#app > h1 {
    width: 80%;
    font-size: var(--xl-font-size);
    text-align: center;
}

#background {
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    z-index: -1;
    background: linear-gradient(white 50%, var(--main-bg-color));
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20vh;
}

.collapsible {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
}

.collapsible.active {
    max-height: 100vh;
}

.dollar::before {
    content: '$';
}

.dollar::after {
    content: '.00'
}

html {
    min-height: 100vh;
    font-family: sans-serif;
}



hr {
    width: 80%;
}

input {
    border: 2px solid grey;
}

input:focus {
    border: 2px solid black;
}

input.invalid {
    border: 2px solid red;
}

input[type=number] {
    text-align: right;
}

nav {
    background: black;
    display: flex;
    padding: 2%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

nav img {
    width: 15vw;
    max-width: 96px;
}



nav a.heading {
    display: block;
    font-size: var(--mg-font-size);
    color: white;
    text-align: center;
    text-decoration: underline;
}

nav span {
    color: var(--main-bg-color);
    text-decoration: none;
}

.navDropdownBtn {
    border: min(1vw, 8px) solid white;
    border-radius: 15%;
    font-size: var(--xl-font-size);
    width: 10vw;
    max-width: 96px;
    padding: 0;
    color: white;
    background: black;
}

.navDropdownMenu {
    position: absolute;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 100%;
    right: 0;
    font-size: var(--xl-font-size);
    padding: 0 16px;
    z-index: 1;
}

.navDropdownItem {
    margin: 5%;
    color: black;
    text-decoration: none;
}

:root {
    --main-bg-color: rgb(35, 199, 240);
    --btn-primary-bg-color: black;
    --btn-primary-color: white;
    --btn-danger-bg-color: red;

    --xxs-font-size: min(2vw, 16px);
    --xs-font-size: min(3vw, 20px);
    --sm-font-size: min(4vw, 24px);
    --md-font-size: min(5vw, 28px);
    --lg-font-size: min(6vw, 32px);
    --xl-font-size: min(7vw, 36px);
    --xxl-font-size: min(8vw, 40px);
    --mg-font-size: min(10vw, 56px);

}

.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}







